body{
    background-color: burlywood;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1{
    text-align: center; 
}

p{
    text-shadow: 1px 1px white;
}

#log{
    margin-left: 40px;
    font-size: 20px;
    font-style: italic;
}