body {
    background: #F5F5F5;
    font-family: consolas, monospace;
}

h1, h5{
    text-align: center;
}

h5 {
    font-size: 18px;
}

figcaption {
    font-style: italic;
    color: red;
}

.under {
    text-decoration: underline;
}